body {
	background-color: #343A40;
	color: #EEE;
	font-family: sans-serif;
	font-size: 4.5vmin;
}

#gameInput {
	font-size: 3.5vmin;
}

button {
	background-color: #4A535B;
	border: .3vmin solid #333;
	font-size: 4vmin;
}

button:hover {
	background-color: #5B646C;
}

#displayMessage {
	visibility: hidden;
}

#statusMessage {
	visibility: hidden;
}

.bottom-bar {
	margin-left: -5vw;
}

.bottom-element {
	margin: 0 2%;
}
